@charset "utf-8";
.style1 {
	margin: 0;
	padding: 0;
	width: 360px;
}
.style2 {
	margin: 0;
	padding: 0;
	height: 65px; 
}
.style3 {
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}
.style4 {
	background-color: #DFECF0;
	margin: 0px;
	padding: 0px;
}
.style5 {
	color: #000000;
	font-size: 12px;
}
.style6 {
	padding: 20px 2px 2px 2px;
}
.style7 {
	background-color: #66CC66;
	padding: 4px 20px 4px 10px;
}
.style8 {
    width: 140px;
	padding: 0px 4px 0x 30px;
}
.style9 {
	height: 30px;
	padding: 2px;
}
.style10 {
	color: #66CC00;
	text-decoration: none;
}
.style11 {
	padding: 6px 2px 2px 2px;
}
.style12 {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-size: 12px;
	color: #000000;
	width: 100%;
}
.style13 {
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}