.file_style1 {
	padding: 10px;
}
.file_style2 {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	border: 1px solid #55A0FF;
	font-family: "新細明體";
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	width: 100%;
}
.file_style3 {
	background-color: #F1F3F5;
	padding: 10px;
}
.file_style4 {
	background-color: #EAE9D9;
	padding: 10px;
}
.file_style5 {
	background-color: #FDF5DB;
	padding: 10px;
}
.file_style6 {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	background-color: #FDF5DB;
	width: 100%;
}
.file_style7 {
	width: 30px;
	height: 26px;
	padding-right: 4px;
}
.file_style8 {
	height: 30px;
	padding-top: 6px;
}
.file_style9 {
	background-color: #F1F3F5;
}
.file_style10 {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.file_style11 {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.file_style12 {
	color: #555555;
}
.file_style13 {
	width: 400px;
	height: 30px;
}
.file_style14 {
	width: 100px;
}
.file_style15 {
	padding-right: 20px;
}
.file_style16 {
	height: 30px;
	padding-top: 6px;
}
.file_style17 {
	background-color: #F1F3F5;
}
.file_style18 {
	background-color: #E7EBF1;
}