.member_new_check_style1 {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	border: 1px solid #33CCCC;
	background-color: #FFFFFF;
}
.member_new_check_style2 {
	padding: 16px;
}
.member_new_check_style3 {
	height: 40px;
}
.member_new_check_style4 {
	font-size: 16px;
	font-weight: bold;
	color: #CC0000;	
}