@charset "utf-8";
.menu_top_style1 {
	width: 100%;
	border-collapse: collapse;
}
.menu_top_style2 {
	width: 20%; 
	padding-left: 30px;
}
.menu_top_style3 {
	padding-left: 30px;	
}
.menu_top_style4 {
  height: 30px;
}
.menu_top_style5 {
	width: 40px;
	cursor: pointer;	
	padding-top: 6px;
}
.menu_top_style6 {
	border: none;
}
.menu_top_style7 {
	width: 100px;
	text-align: center;
	padding-top: 6px;
}
.menu_top_style8 {
	width: 130px;
	text-align: center;
	padding-top: 6px;
}
.menu_top_style9 {
	width: 100px;
	text-align: center;
	padding-top: 6px;
}
.menu_top_style10 {
	width: 80px;
	text-align: center;
	padding-top: 6px;
}
.menu_top_style11 {
	padding: 2px;
	width: 100px;
}
.menu_top_style12 {
	width: 90px;
}
.menu_top_style13 {
	padding: 2px;
}
.menu_top_style14 {
  width: 90%;
}
.menu_top_style15 {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #669900;
}
.menu_top_style16 {
  width: 14%;
	vertical-align: top;
	border-right: 1px solid #669900;
}
.menu_top_style17 {
	padding-left: 6px;
	padding-top: 6px;
	vertical-align: top;
}