@charset "utf-8";
.order_step03_style1 {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #669900;
	font-size: 12px;
}
.order_step03_style2 {
	padding: 2px;  
}
.order_step03_style3 {
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
}
.order_step03_style4 {
	color: #3F3FBC;
	background-color: #ABD3EB;
	font-weight: bolder;
	border-right: 1px solid #669900;
	border-bottom: 1px solid #669900;
	text-align: center;
	padding: 4px 0;
}
.order_step03_style5 {
	color: #999999;
	border: 1px solid #BDBD00;
	text-align: center;
	padding: 4px 0;
}
.order_step03_style6 {
  vertical-align: top;
}
.order_step03_style7 {
  border-collapse: collapse;
	width: 100%;
}
.order_step03_style8 {
  padding: 6px;
	color: #999900;
}
.order_step03_style9 {
	background-color: #B0E6FF;
	width: 120px;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step03_style10 {
	background-color: #B0E6FF;
	width: 360px;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step03_style11 {
	background-color: #B0E6FF;
	width: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step03_style12 {
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step03_style13 {
	padding: 2px;
}
.order_step03_style14 {
	padding: 2px;
	width: 96%;
}
.order_step03_style15 {
	text-align: center;
	padding-top: 10px;
}
.order_step03_style16 {
	width: 10%;
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step03_style17 {
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step03_style18 {
	background-color: #B0E6FF;
	width: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step03_style19 {
	width: 10%;
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step03_style20 {
	background-color: #B0E6FF;
	width: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step03_style21 {	
	border-bottom: 1px solid #669900;
	padding: 4px;
}
.order_step03_style22 {
	border-bottom: 1px solid #669900;
	padding: 4px;
	text-align: left;
}
.order_step03_style23 {
	border-bottom: 1px solid #669900;
	text-align: right;
	padding-right: 20px;
}
.order_step03_style24 {
	border-bottom: 1px solid #669900;
	width: 10%;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.order_step03_style25 {
	border-bottom: 1px solid #669900;
	width: 10%;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.order_step03_style26 {
	padding: 4px;
	color: #999900;
	font-size: 14px;
	width: 80px;
}
.order_step03_style27 {
	color: #999966;
	font-size: 14px;
}
.order_step03_style28 {
  border-collapse: collapse;
	width: 100%;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.order_step03_style29 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	padding-right: 40px;
}
.order_step03_style30 {
	width: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.order_step03_style31 {
  color: #CC6600;
}