@charset "utf-8";
.order_step02_style1 {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #669900;
	font-size: 12px;
}
.order_step02_style2 {
	padding: 2px;  
}
.order_step02_style3 {
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
}
.order_step02_style4 {
	color: #3F3FBC;
	background-color: #ABD3EB;
	font-weight: bolder;
	border-right: 1px solid #669900;
	border-bottom: 1px solid #669900;
	text-align: center;
	padding: 4px 0;
}
.order_step02_style5 {
	color: #999999;
	border: 1px solid #BDBD00;
	text-align: center;
	padding: 4px 0;
}
.order_step02_style6 {
  vertical-align: top;
}
.order_step02_style7 {
  border-collapse: collapse;
	width: 100%;
}
.order_step02_style8 {
  padding: 6px;
	color: #999900;
}
.order_step02_style9 {
	background-color: #B0E6FF;
	width: 120px;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step02_style10 {
	background-color: #B0E6FF;
	width: 360px;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step02_style11 {
	background-color: #B0E6FF;
	width: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step02_style12 {
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	padding: 4px;
}
.order_step02_style13 {
	padding: 2px;
}
.order_step02_style14 {
	padding: 2px;
	width: 96%;
}
.order_step02_style15 {
	text-align: center;
	padding-top: 10px;
}
.order_step02_style16 {
  text-decoration: none;
}
.order_step02_style17 {
	width: 120px;
	padding-top: 10px;
}
.order_step02_style18 {
	padding-top: 20px;
}
.order_step02_style19 {
	width: 4%;
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step02_style20 {
	background-color: #B0E6FF;
	width: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step02_style21 {
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step02_style22 {
	width: 10%;
	background-color: #B0E6FF;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step02_style23 {
	background-color: #B0E6FF;
	width: 10%;
	border-width: 2px;
	border-style: solid;
	border-color: #E6F7FF #3CBFFF #3CBFFF #E6F7FF;
	text-align: center;
	padding: 4px;
}
.order_step02_style24 {	
	border-bottom: 1px solid #669900;
	text-align: center;
	padding: 4px;
}
.order_step02_style25 {
	border-bottom: 1px solid #669900;
	padding-left: 10px;
}
.order_step02_style26 {
	padding-left: 10px;
}
.order_step02_style27 {
	padding: 10px;
	border-bottom: 1px solid #669900;
}
.order_step02_style28 {
	text-align: center;
	width: 140px;
	padding: 10px;
	border-bottom: 1px solid #669900;
}
.order_step02_style29 {
	padding: 10px;
}
.order_step02_style30 {
	text-align: right;	
	width: 260px;
	padding: 10px;
}
.order_step02_style31 {
	margin-right: 30px;
}
.order_step02_style32 {
	padding-top: 10px;
}
.order_step02_style33 {
	background-color: #FFF8D9;
	margin: 10px;
	border-top: 1px dashed #669900;
}
.order_step02_style34 {
	padding-left: 10px;
	font-weight: bolder;
}
.order_step02_style35 {
	color: #FF0000;
}
.order_step02_style36 {
	border-collapse: collapse;
	border: 1px solid #FFCC00;
	margin: 10px;
	color: #BDBD00;
}
.order_step02_style37 {
	padding: 10px;
}
.order_step02_style38 {
	padding-top: 6px;
}