@charset "utf-8";
.color_style1 {
	color: #000000;
}
.color_style2 {
	color: #66FF99;
}
.color_style3 {
	color: #339900;
}
.color_style4 {
	color: #CCCC00;
}
.color_style5 {
	color: #FFCC02;
}
.color_style6 {
	color: #FF99FF;
}
.color_style7 {
	color: #FF0000;
}
.color_style8 {
	color: #CC00FF;
}
.color_style9 {
	color: #A4C1FF;
}
.color_style10 {
	color: #6600FF;
}
.color_style11 {
	color: #BFBFBF;
}