@charset "utf-8";
.owner_style1 {
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
	background-color: #CCCC99;
}
.owner_style2 {
	color: #009999;
	padding: 6px;
	width: 200px;
}
.owner_style3 {
	color: #996600;
}
.owner_style4 {
	color: #CC0000;
}
.owner_style5 {
	color: #009999;
	padding: 6px;
}