@charset "utf-8";
.send_style1 {
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	background-color: #CCCC99;
}
.send_style2 {
	padding: 10px 4px;
	width: 40px;
	vertical-align: top;
}
.send_style3 {
	padding: 4px;
	text-align: left;
}
.send_style4 {
	padding: 10px 4px;
	width: 60px;
	text-align: center;
	vertical-align: top;
}
.send_style5 {
	padding: 10px 4px;
	width: 70px;
}
.send_style6 {
	padding: 10px 4px;
	width: 80px;
}
.send_style7 {
	padding: 10px 4px;
	text-align: left;
}
.send_style8 {
	font-size: 12px;
}