@charset "utf-8";
.attach_file_style1 {
	margin-left: auto;
	margin-right: auto;	
	border-collapse: collapse;
	border: 1px solid #55A0FF;
	font-size: 14px;
	background-color: #FFFFFF;
}
.attach_file_style2 {
    background-color: #F1F3F5;
	padding: 10px;
}
.attach_file_style3 {
	color: #FF3333;
}
.attach_file_style4 {
    background-color: #EAE9D9;
	padding: 10px;
}
.attach_file_style5 {
    background-color: #FDF5DB;
	padding: 10px;
}
.attach_file_style6 {
    border-collapse: collapse;
	background-color: #FDF5DB;
}
.attach_file_style7 {
    width: 20px;
	height: 32px;
}
.attach_file_style8 {
	margin: 2px;
	padding: 2px;
}
.attach_file_style9 {
	height: 30px;
	text-align: center;
}
.attach_file_style10 {
	background-color: #F1F3F5;
}
.attach_file_style11 {
	border-collapse: collapse;
	width: 100%;
	height: auto;
}
.attach_file_style12 {
	color: #555555;
}
.attach_file_style13 {
    background-color: #F1F3F5;
}
.attach_file_style14 {
    background-color: #E7EBF1;
}
.attach_file_style15 {
    width: 326px;
	height: 30px;
}
.attach_file_style16 {
    width: 100px;
}
.attach_file_style17 {
    padding-right: 20px;
}
.attach_file_style18 {
    height: 30px;
	text-align: center;
	padding: 10px;
}