@charset "utf-8";
.index_style1 {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: 1px solid #55A0FF;
	background-color: #B1BCB6;
	width: 100%;
	height: 100%;
}
.index_style2 {
	height: 28px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
}
.index_style3 {
	border-left: 1px solid #55A0FF;
	border-right: 1px solid #55A0FF;
	background-color: #BCBCBC;
	width: 100%;
}
.index_style4 {
	color: #000000;
	text-align: right;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF #999900 #999900 #FFFFFF;
	padding: 2px;
}
.index_style5 {
	display: inline;
}
.index_style6 {
	margin-right: 20px;
}
.index_style7 {
	border-left: 1px solid #55A0FF;
	border-right: 1px solid #55A0FF;
	background-color: #B1BCB6;
	width: 100%;
}
.index_style8 {
	width: 15%;
	vertical-align: top;
	background-color: #FFFFFF;
}
.index_style9 {
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
	height: 100%;
}
.index_style10 {
	background-color: #FFE1C4;
	cursor: pointer; cursor: hand;
}
.index_style11 {
	background-color: #CCCC99;
}
.index_style12 {
	width: 20px;
	height: 24px;
}
.index_style13 {
	vertical-align: top;
	background-color: #F7F7F7;
}
.index_style14 {
	width: 25px;
	height: 24px;
}
.index_style15 {
	padding-left: 4px;
	color: #336600;
}
.index_style16 {
	padding-left: 4px;
	color: #999900;
	width: 70px;
}
.index_style17 {
	padding-left: 4px;
	color: #666600;
	width: 160px;
}
.index_style18 {
	margin-left: 6px;
}
.index_style19 {
	vertical-align: top;
	background-color: #B1BCB6;
	width: 270px;
}
.index_style20 {
	height: 32px;
}
.index_style21 {
	border-left: 1px solid #55A0FF;
	border-right: 1px solid #55A0FF;
	border-bottom: 1px solid #55A0FF;
	background-color: #BCBCBC;
	width: 100%;
}
.index_style22 {
	height: 40px;
	text-align: center;
}